<h2>Sprints</h2> <span class="badge"></span>
<div class="list-group">
  <a  href="#" class="list-group-item" *ngFor="let mile of milestones">
    <span class="badge">{{mile.openIssues}}</span>
    <h4 class="list-group-item-heading">{{mile.title}}</h4>
    <p class="list-group-item-text">
      {{mile.description}}
    </p>
  </a>

  <div class="list-group-item" >
    <div class="btn-group" role="group" aria-label="...">
      <a [routerLink]="['/milestones/' + ownerName + '/' + repoName + '/add']" class="btn btn-default">add</a>
    </div>
  </div>
</div>
