<h2>Sprints</h2>
<p>
  <a [routerLink]="['/milestones/' + ownerName + '/' + repoName + '/add']" class="btn btn-default">Create Sprint</a>
</p>

<div class="panel panel-default panel-sprint">
  <div class="panel-heading">
    <a class="btn btn-default btn-xs pull-right"
       [routerLink]="['/repositories/' + ownerName + '/' + repoName + '/issues/add']"><i class="fa fa-plus"></i></a>
    <h3 class="panel-title">Backlog</h3>
  </div>
  <div class="panel-body">

    <div class="list-group list-issues">
      <div class="list-group-item issue issue-new" aria-hidden="true" *ngFor="let issue of backlogIssues"
           (click)="showDetails(issue)">
        {{issue.title}}
        <span class="label label-info" *ngFor="let label of issue.labels">{{label.name}}</span>
        <span *ngIf="issue.assignee" [tooltip]="issue.assignee" class="fa fa-user"></span>

        <div class="form-group pull-right">
          <input [(ngModel)]="selected[issue.number]"
                 [typeahead]="milestones"
                 (typeaheadOnSelect)="typeaheadOnSelect($event, issue.number)"
                 [typeaheadOptionField]="'title'"
                 placeholder="Assign to milestone..."
                 class="form-control input-sm">
        </div>
      </div>
    </div>

  </div>
</div>

<div class="panel panel-default panel-sprint" *ngFor="let mile of milestones">
  <div class="panel-heading">
    <h3 class="panel-title" (click)="showDetails(mile)">
      {{mile.title}}
      <i class="fa fa-question-circle-o" aria-hidden="true" *ngIf="mile.title" [tooltip]="mile.description"></i>
      <span class="badge pull-right">Open: {{mile.openIssues}}</span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="list-group list-issues">
      <div class="list-group-item issue issue-new" *ngFor="let issue of milestonesIssue[mile.number]"
           (click)="showDetails(issue)">
        {{issue.title}}
        <span *ngIf="issue.assignee" [tooltip]="issue.assignee" class="fa fa-user"></span>
        <span class="label label-info" *ngFor="let label of issue.labels">{{label.name}}</span>

        <div class="form-group pull-right">
          <input [(ngModel)]="selectedUser[issue.number]"
                 [typeahead]="users"
                 (typeaheadOnSelect)="typeaheadOnSelectUser($event, issue.number)"
                 [typeaheadOptionField]="'name'"
                 placeholder="Assign User"
                 class="form-control input-sm">
        </div>

      </div>
    </div>

  </div>
</div>


