<div class="page-header">
  <h1>{{repository.name}} <small>{{repository.description}}</small> <span class="badge">{{repository.open_issues}}</span> </h1>
</div>


<div class="row">
  <div class="col-md-8">
    <app-milestone-list ownerName="{{ownerName}}" repoName="{{repoName}}" (selectedItem)="itemSelected($event)"></app-milestone-list>
  </div>
  <div class="col-md-4">
    <app-issue-details-panel [issue]="selectedIssue"></app-issue-details-panel>
    <app-milestone-details-panel [milestone]="selectedMilestone"></app-milestone-details-panel>
  </div>

</div>
