<header [class.isHome]="!isHome">
  <a [routerLink]="['/']" href="#" class="escape-hatchet">
    <img src="/img/logo.png"/>
    <span class="brand">Scrummingbird</span>
  </a>

  <div class="jumbo">
    <h1>
      GitHub goes Scrum
    </h1>
    <p>
      Add the power of Scrum to your GitHub projects!<br>
      It has never been easier :)
    </p>
    <a [routerLink]="['/repositories']" href="#" class="btn-start btn-bordered">
      Scrum on!
    </a>
  </div>

  <nav>
    <span *ngIf="user">
      <a [routerLink]="['/mytasks']" href="#" class="btn-bordered">My Tasks</a>
      <a [routerLink]="['/repositories']" href="#" class="btn-bordered">Repositories</a>


      <img [src]="user.profileImage" class="profile-image img-circle">
      <a (click)="logout()" href="#" class="btn-bordered">Logout</a>
    </span>

    <span *ngIf="!user">
      <a (click)="login()" href="#" class="btn-bordered">Login</a>
    </span>
  </nav>
</header>
