$topBottom: 20px;
$leftRight: 30px;

header {
  background-image: url('/img/header.jpg');
  background-size: cover;
  background-position: center center;

  position: relative;
  height: 170px;

  font-family: 'Raleway', sans-serif;
  color: #fff;

  padding: $topBottom $leftRight;

  .escape-hatchet {
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    text-transform: full-size-kana;
    font-size: 1.8em;
  }

  h1 {
    position: absolute;
    text-align: center;
    top: $topBottom;
    width: 100%;
  }

  nav {
    position: absolute;
    top: $topBottom;
    right: $leftRight;

    height: 90px;
    line-height: 90px;

    a {
      color: #fff;
      padding: 5px;
      text-decoration: none;
      border: 1px solid transparent;

      transition-duration: 500ms;
      transition-property: border, background-color;

      &:hover {
        border: 1px solid #fff;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .profile-image {
    max-width: 45px;
    max-height: 45px;
    margin-right: 10px;
  }
}
