<header [class.jumbo]="">
  <a [routerLink]="['/']" href="#" class="escape-hatchet">
    <img src="/img/logo.png"/>
    Scrummingbird
  </a>

  <h1>
    Scrumify your GitHub Issues.
  </h1>

  <nav>
    <span *ngIf="user">
      <img [src]="user.profileImage" class="profile-image img-circle">
      <a (click)="logout()" href="#">Logout</a>
      <a [routerLink]="['/repositories']" href="#">Repositories</a>
    </span>

    <span *ngIf="!user">
      <a (click)="login()" href="#">Login</a>
    </span>
  </nav>
</header>
