$topBottom: 20px;
$leftRight: 30px;

header {
  background-image: url('/img/header.jpg');
  background-size: cover;
  background-position: center center;

  position: relative;
  height: 600px;

  font-family: 'Raleway', sans-serif;
  color: #fff;

  padding: $topBottom $leftRight;
}

header.isHome {
  height: auto;

  .jumbo {
    display: none;
  }
}

.escape-hatchet {
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  text-transform: full-size-kana;
  font-size: 1.8em;
}

.jumbo {
  width: 600px;
  padding: 50px;
  text-align: center;
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0.6);

  p {
    padding: 30px 0;
    font-size: 1.4em;
  }

  .btn-start {
    display: block;
    text-align: center;
    border: 1px solid #fff;
    font-size: 1.4em;
  }
}

.profile-image {
  max-width: 45px;
  max-height: 45px;
  margin-left: 20px;
}

nav {
  position: absolute;
  top: $topBottom;
  right: $leftRight;

  height: 90px;
  line-height: 90px;
}

.btn-bordered {
  color: #fff;
  padding: 5px;
  text-decoration: none;
  border: 1px solid transparent;

  transition-duration: 500ms;
  transition-property: border, background-color;

  &:hover {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
