<div class="page-header">
  <h1>{{repository.name}} <small>{{repository.description}}</small> <span class="badge">{{repository.open_issues}}</span> </h1>
</div>

<h1>
  Create Issue
</h1>
<form>
  <div class="form-group">
    <label>Title</label>
    <input type="text" [(ngModel)]="issue.title" class="form-control" placeholder="Title">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea [(ngModel)]="issue.description" class="form-control" rows="3" placeholder="Description"></textarea>
  </div>

  <button (click)="create(issue)" type="submit" class="btn btn-default">create</button>
</form>
