<div class="panel panel-default" *ngIf="issue">
  <div class="panel-heading">
    <h3 class="panel-title">
       Issue: {{issue.title}}
    </h3>
  </div>
  <div class="panel-body">
    <div>
      <div class="btn-group btn-group-xs" role="toolbar">
        <a class="btn btn-default" (click)="setGuess(issue, guess)" *ngFor="let guess of guesses">{{guess.name}}</a>
      </div>
    </div>

    <img [src]="issue.assigneeUrl" style="max-height: 64px"><span class="pull-right"><h2>State: {{issue.state}}</h2></span>
    <p>{{issue.body}}</p>
    <span></span>
  </div>
</div>

<app-comments *ngIf="issue" [issue]="issue" [ownerName]="ownerName" [repoName]="repoName"></app-comments>
