.header {
  border-bottom: 2px solid #cdcdcd;
  padding: 5px;
  margin: 0 0 10px 0;
  font-size: inherit;
  font-weight: bold;
  background-color: #fff;
}

issue-list-item {
  display: block;
  margin-bottom: 4px;
}

.col-details {
  border-left: 1px solid #cdcdcd;
}
