<div class="row">
  <div class="col-md-6">

    <div class="panel panel-default panel-sprint">
      <div class="panel-heading">
        <h3 class="panel-title">
          My Tasks

          <input [value]="filterValue" class="pull-right input-xs" (keyup)="onKey($event)" placeholder="Search"/>
        </h3>
      </div>
      <div class="panel-body">
        <div class="list-group list-issues">
          <div class="list-group-item issue issue-new" *ngFor="let issue of myIssues | filterBy: [filterValue] | async"
               (click)="selectIssue(issue)" [ngClass]="{'active': selectedIssue && (issue.id == selectedIssue.id)}">

            <h4 class="list-group-item-heading">{{issue.title}}</h4>
            <div class="list-group-item-text">
              {{issue.repository.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default panel-sprint" *ngIf="selectedIssue">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{selectedIssue.title}}
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-xs btn-primary" (click)="close(selectedIssue)">close</button>
            <button type="button" class="btn btn-xs btn-default" (click)="unassign(selectedIssue)">unassign</button>
          </div>
        </h3>
      </div>
      <div class="panel-body">
        <div class="well">
          {{selectedIssue.body}}
        </div>

        <accordion *ngIf="selectedIssue.commentCount > 0" class="comments">
          <accordion-group heading="Comments" (click)="loadComments(selectedIssue)" [isOpen]="test">

            <div *ngFor="let comment of selectedIssueComments | async" class="comment">
              <div class="row row-eq-height">
                <div class="col-md-2 center-block profile">
                  <img [src]="comment.user.avatar_url" width="48px">
                </div>
                <div class="well col-md-10">
                  asd
                  <div class="date">
                    commented at {{comment.updatedAt | date }}
                  </div>
                </div>
              </div>
            </div>
          </accordion-group>
        </accordion>


      </div>
    </div>
  </div>
</div>
